@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Gerenciador de tempo tramitado no Azure DevOps";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Os tramites gerados pela extensão de gerenciamento de tempo no Azure DevOps são exportados para um serviço parelelo.<br />Aqui é o local onde o colaborador pode visualizar, editar ou até mesmo criar 
    seus tramites manualmente. 
</p>
