@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Dois fatores";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Você não tem mais códigos de recuperação.</strong>
            <p>
                Você deve
                <a asp-action="GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a> antes que você possa efetuar login com um código de recuperação.
            </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>You have 1 recovery code left.</strong>
            <p>
                Você pode
                <a asp-action="GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a>.
            </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>
                Você tem
                @Model.RecoveryCodesLeft códigos de recuperação restantes.
            </strong>
            <p>
                Você deve
                <a asp-action="GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a>.
            </p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Redefinir códigos de recuperação</a>
}

<h5>Autenticar Aplicativo</h5>
@if (!Model.HasAuthenticator)
{
<a asp-action="EnableAuthenticator" class="btn btn-default">Adicionar aplicativo autenticador</a>
}
else
{
<a asp-action="EnableAuthenticator" class="btn btn-default">Configurar aplicativo do autenticador</a>
<a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Redefinir chave do autenticador</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
