@model ApplicationRoleViewModel
@using HourglassAzure.Models

<form asp-action="AddEditApplicationRole" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading =$"{(String.IsNullOrEmpty(Model.Id)? "Adicionar" : "Editar")}  Perfil"  })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="RoleName" class="col-lg-3 col-sm-3 control-label">Nome do perfil</label>
                <div class="col-lg-6">
                    <input asp-for="RoleName" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
